# based on an example from bastille project https://github.com/BastilleBSD/bastille#etcpfconf

ext_if="{{ bastille_ext_if }}"

set block-policy return
scrub in on $ext_if all fragment reassemble
set skip on lo

table <jails> persist
nat on $ext_if from <jails> to any -> ($ext_if)

## inbound to container example
## rdr pass inet proto tcp from any to any port {80, 443} -> 10.17.89.45

block in all
pass out quick modulate state
antispoof for $ext_if inet
pass in inet proto tcp from any to any port ssh flags S/SA keep state
